body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
}

.search-container {
    margin: 20px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    font-size: 18px;
    background: #fff;
    margin: 5px auto;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

li.hide {
    display: none;
}
